#player {
    background-color: aqua;
}

#opponent {
    background-color: hotpink;
}

.name-tag {
    padding: 1rem;
    border-radius: 8px;
}

#player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#attack {
    width: 15rem;
    height: 5rem;
    background-color: crimson;
    color: ghostwhite;
}

.cube {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 1rem;
}

#cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
}